button{
    width: fit-content;
    background-color: transparent;
    border: none;
}

.btn{
    padding: 1rem;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link-btn{
    border-radius: 0.5em;
    padding: 1em;
}

.button-wrapper{
    margin-bottom: 4em;
}