:root{
    /* colours, use -- for custom properties*/
    --colour-bg: white;
    --colour-grey: #dbdbdb;
    --colour-text: black;
    --colour-blur: #272727;
    --colour-main: #29546e;
    --colour-main-light: #9bb9cb;
    --colour-accent: #ad6f38;
    --colour-accent-light: #d5a171;
}

body{
    color: var(--colour-text);
    background-color: var(--colour-bg);
}

a, a:hover, a:focus, a:active, button{
    text-decoration: none;
    color: inherit;
}

/* background colour white */
.configuration-img, .measurements, .link-btn, .summary-img{
    background-color: var(--colour-bg);
}

/* background colour light blue */
footer, .menu-one, input[type="text"], textarea, .btn:hover, .add-to-cart:hover, .tablinks, .tablinks:hover{
    background-color: var(--colour-main-light);
}

/* background colour blue */
nav.not-home, .rectangle, .blue-background, .tablinks:active, .tab-content{
    background-color: var(--colour-main);
}

/* background colour orange */
.accent-background{
    background-color: var(--colour-accent);
}

/* background colour light orange */
.menu-two, .product-categories > li:hover, .product-categories > a:hover{
    background-color: var(--colour-accent-light);
}

/* background colour grey */
.link-btn:hover{
    background-color: var(--colour-grey);
}

/* colour blue */
::placeholder, textarea{
    color: var(--colour-main);
}

/* colour orange */
.newPrice, .link, .current-step, .error, .required::after{
    color: var(--colour-accent);
}

/* colour white */
.menu-one > ul > li > button:hover, .menu-two > li > a:hover, .menu-links > ul > li:hover, .heroText, .white-text, #contactUs {
    color: var(--colour-bg);
}

/* colour black */
.link-btn{
    color: var(--colour-text);
}

.tablinks.first, .learnMore, .left-box, .proceed{
    color: var(--colour-bg);
    background-color: var(--colour-main);
}

.configuration-img:hover, .configuration-img:active{
    border: 4px solid var(--colour-main);
}

.product-categories > li, .product-categories > a, .summary, .right-box{
    color: var(--colour-bg);
    background-color: var(--colour-accent);
}

.alt-image:hover{
    border: 2px solid var(--colour-main-light);
}

.proceed:hover{
    color: var(--colour-bg);
    background-color: var(--colour-main-light);
}

.secondary-btn{
    border: 2px solid var(--colour-main);
}