:root{
    /* colours, use -- for custom properties*/
    --colour-bg: white;
    --colour-grey: #dbdbdb;
    --colour-text: black;
    --colour-blur: #272727;
    --colour-main: #29546e;
    --colour-main-light: #9bb9cb;
    --colour-accent: #ad6f38;
    --colour-accent-light: #d5a171;
}

body{
    color: var(--colour-text);
    background-color: var(--colour-bg);
}

nav{
    background-color: var(--colour-main);
}

footer{
    background-color: var(--colour-main-light);
}

input[type="text"], textarea{
    background-color: var(--colour-main-light);
}

::placeholder, textarea{
    color: var(--colour-main);
}

.heroText{
    color: var(--colour-bg);
}

.learnMore{
    background-color: var(--colour-main);
    color: var(--colour-bg);
}

.newPrice{
    color: var(--colour-accent);
}

.blue-background{
    background-color: var(--colour-main);
}

.accent-background{
    background-color: var(--colour-accent);
}

.configuration-img{
    background-color: var(--colour-bg);
}

.configuration-img:hover{
    border: 4px solid var(--colour-main);
}

.left-box{
    color: var(--colour-bg);
    background-color: var(--colour-main);
}

.right-box{
    color: var(--colour-bg);
    background-color: var(--colour-accent);
}

.chosen-config{
    border: 4px solid var(--colour-main);
}

.link-btn{
    background-color: var(--colour-bg);
}

.link-btn:hover{
    background-color: var(--colour-grey);
}

.btn:hover, .add-to-cart:hover{
    background-color: var(--colour-main-light);
}

.white-text{
    color: var(--colour-bg);
}

.link{
    color: var(--colour-accent);
}

.product-categories > li, .product-categories > a{
    color: var(--colour-bg);
    background-color: var(--colour-accent);
}

.product-categories > li:hover, .product-categories > a:hover{
    background-color: var(--colour-accent-light);
}

.summary{
    background-color: var(--colour-accent);
    color: var(--colour-bg);
}

.current-step{
    color: var(--colour-accent);
}
.summary-img{
    background-color: var(--colour-bg);
}

.proceed{
    color: var(--colour-bg);
    background-color: var(--colour-main);
}

#contactUs{
    color: var(--colour-bg);
}

/* tab */
.tablinks{
    background-color: var(--colour-main-light);
}

.tablinks:hover{
    background-color: var(--colour-main-light);
}

.tablinks:active{
    background-color: var(--colour-main);
}

.tab-content{
    background-color: var(--colour-main);
}