input[type="text"], textarea{
    width: 100%;
    margin-top: 0.75em;
    border-radius: 0.25em;
}

input[type="text"]{
    height: 2.5em;
}

textarea{
    padding-top: 0.5em;
    height: 5em;
}

input[type="radio"]{
    margin-right: 1em;
}

::placeholder{
    padding-left: 0.5em;
}

.adjacent-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.grid-left{
    grid-row: 1;
    grid-column: 1;
}

.grid-right{
    grid-row: 1;
    grid-column: 2;
}

.input-group {
    margin-bottom: 2em;
    gap: 2em;
}

.radio-button-group{
    margin-bottom: 2em;
    line-height: 2em;
}

.radio-button-group > p{
    margin-bottom: 0.5em;
}

.name > input[type="text"]{
    width: max-content;
}

.float-left{
    float: left;
}

.not-cluster{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.proceed{
    width: 100%;
}