input[type="search"]{
    appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.header{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    background-image: url("images/MeetingRoom.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



/* footer */
.footer-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-col{
    column-count: 2;
    column-gap: 4em;
}

.footer-logo{
    height: 3em;
}

.socials{
    padding-bottom: 2em;
}



/* search bar */
.searchBarWrap {
    max-width: 25em;
    width: 100%;
    height: 1.5em;
    position: relative;
    display: flex;
}

.searchbar{
    border-radius: 5px ;
    width: inherit;
    height: inherit;
}

.searchIcon{
    position: absolute;
    right: 0.5em;
    height: 1em;
    top: 0.25em;
}



/* header */
.header{
    position: relative;
    z-index: 2;
}

.heroText{
    width: 10em;
    justify-content: left;
    margin-bottom: 0.5em;
}



/* menu */
.menu-one{
    z-index: 5;
}

.menu-one > ul > li{
    padding-left: 2em;
    padding-bottom: 2em;
}

.menu-two{
    z-index: 4;
}

.menu-two > li{
    padding-bottom: 2em;
}

.close-menu-one > .menuIcon, .close-menu-two > .menuIcon{
    padding-left: 2em;
    margin-bottom: 2em;
}

.close-menu-two{
    height: 0;
}

.menu-links{
    position: absolute;
    bottom: 2em;
    padding-left: 2em;
}

.menuIcon{
    height: 1.5em;
}



/* social media icons */
.social-links-wrapper{
    margin-top: 1em;
}

.social-links-wrapper > img + img{
    margin-left: 0.5em;
}



/* navigation */
.menu-one, .menu-two {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 2em;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-logo {
    height: 1.75em;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-nav > a{
    margin: 2em;
}

#navLinksLeft {
    display: flex;
    width: 8em;
    margin-right: 5em;
}

#navLinksRight {
    display: flex;
    width: 13em;
    margin-left: 5em;
}

#payment-methods{
    width: 7em;
    margin-top: 1em;
    margin-bottom: 2em;
}



@media only screen and (max-width: 1000px){
    nav{
        height: 8em;
    }
    
    .page-heading{
        padding: 6em 2.5rem 2.5em 2.5rem;
    }
    
    .searchBarWrap{
        top: 5em;
    }
    
    .nav-logo{
        margin: 0.5em;
        height: 2em;
    }

    .big-nav{
        display: none;
    }
}


@media only screen and (min-width: 700px){
    .menu-two{
        padding-top: 5em;
    }

    .menu-two > li{
        padding-left: 390px;
    }
}

@media only screen and (max-width: 700px){
    .menu-two > li{
        padding-left: 2em;
    }

    .header{
        background-image: url("images/MeetingRoomSmall.jpg");
    }

    footer{
        display: flex;
        flex-direction: column;
    }
    
    .page-heading > p{
        width: 100%;
    }
    
    .footer-col{
        column-count: 1
    }

    .footer-logo{
        display: none;
    }

    .footer-icons{
        align-items: flex-start;
    }

    .footer-icons > #payment-methods{
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .small-nav-right > a + a{
        margin-left: 1em;
    }

    .footer-icons{
        align-items: flex-start;
    }
}
