.clickable-img{
    margin-bottom: 2em;
    background-size: contain;
    height: 18em;
    width: 18em;
}

#link-table{
    background-image: url("images/LinkMultiPurposeTable.webp");
}

#link-table:hover{
    background-image: url("images/LinkMultiPurposeTableHover.jpeg");
}

#chriss-chair{
    background-image: url("images/ChrissLoungeChair.jpeg");
}

#chriss-chair:hover{
    background-image: url("images/ChrissLoungeChairHover.jpeg");
}

#seychelles-bookcase{
    background-image: url("images/SeychellesBookcase.webp");
}

#seychelles-bookcase:hover{
    background-image: url("images/SeychellesBookcaseHover.webp");
}

#chase-chair{
    background-image: url("images/ChaseMeetingRoomChair.webp");
}

#chase-chair:hover{
    background-image: url("images/ChaseMeetingRoomChairHover.webp");
}

#rift-seat{
    background-image: url("images/PeerArmChair.jpeg");
}

#peer-chair:hover{
    background-image: url("images/PeerArmChairHover.jpeg");
}

#bondi-chair{
    background-image: url("images/BondiChair.webp");
}

#bondi-chair:hover{
    background-image: url("images/BondiChairHover.webp");
}

#andes-chair{
    background-image: url("images/AndesMeshBackChair.webp");
}

#andes-chair:hover{
    background-image: url("images/AndesMeshBackChairHover.webp");
}

#sandon-chair{
    background-image: url("images/SandonOfficeChair.webp");
}

#sandon-chair:hover{
    background-image: url("images/SandonOfficeChairHover.webp");
}

#lynx-chair{
    background-image: url("images/LynxVisitorChair.webp");
}

#lynx-chair:hover{
    background-image: url("images/LynxVisitorChairHover.webp");
}

#randwick-chair{
    background-image: url("images/RandwickChair.jpeg");
}

#randwick-chair:hover{
    background-image: url("images/RandwickChairHover.jpeg");
}

#manly-chair{
    background-image: url("images/ManlyChair.webp");
}

#manly-chair:hover{
    background-image: url("images/ManlyChairHover.webp");
}

#mason-chair{
    background-image: url("images/MasonChair.jpeg");
}

#mason-chair:hover{
    background-image: url("images/MasonChairHover.jpeg");
}

#valentina-chair{
    background-image: url("images/ValentinaChair.webp");
}

#valentina-chair:hover{
    background-image: url("images/ValentinaChairHover.webp");
}

#hunter-chair{
    background-image: url("images/HunterChair.webp");
}

#hunter-chair:hover{
    background-image: url("images/HunterChairHover.webp");
}

#nerang-chair{
    background-image: url("images/NerangOfficeChair.webp");
}

#nerang-chair:hover{
    background-image: url("images/NerangOfficeChairHover.webp");
}

#alpha-chair{
    background-image: url("images/AlphaVisitorChair.webp");
}

#alpha-chair:hover{
    background-image: url("images/AlphaVisitorChairHover.webp");
}

#apollo-chair{
    background-image: url("images/ApolloVisitorChair.jpeg");
}

#apollo-chair:hover{
    background-image: url("images/ApolloVisitorChairHover.jpegs");
}