/* Box model fix */
html {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    border: 0px;
    border-style:solid;
    vertical-align: baseline;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

nav {             
    height: 5em;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
}

button{
    width: fit-content;
    background-color: transparent;
    border: none;
}

h2{
    margin-top: 2em;
    margin-bottom: 1em;
}

.btn{
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.stack{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.centre-text{
    text-align: center;
}

.image-row{
    margin-left: 5rem;
    margin-right: 5rem;
}

.margin{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.header{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    background-image: url("images/MeetingRoom.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.menu{
    display: none;
}

.menuIcon{
    height: 1.5em;
}

.searchBarWrap {
    min-width: none;
    width: 25em;
    height: 1.5em;
    position: relative;
    display: flex;
}

.searchbar{
    border-radius: 5px ;
    width: inherit;
    height: inherit;
}

.searchIcon{
    position: absolute;
    right: 10px;
    height: 15px;
    top: 5px;
}

.heroText{
    width: 10em;
    justify-content: left;
    margin-bottom: 0.5em;
}

#navLinksLeft {
    display: flex;
    width: 8em;
}

#navLinksRight {
    display: flex;
    width: 10em;
}

#logo {
    height: 1.75em;
}