/* Box model fix */
html {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    border: 0px;
    border-style:solid;
    vertical-align: baseline;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

nav {             
    height: 5em;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
}

button{
    background-color: transparent;
    border: none;
}

nav > a{
    height: 80px;
    width: 100%;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("images/MeetingRoom.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.menu{
    display: none;
}

.menuIcon{
    height: 1.5em;
}

.searchBarWrap {
    width: 400px;
    height: 25px;
    position: relative;
    display: flex;
}

.searchbar{
    border-radius: 5px;
    width: inherit;
    height: inherit;
}

.searchIcon{
    position: absolute;
    right: 10px;
    height: 15px;
    top: 5px;
}

#navLinksLeft {
    width: 130px;
}

#navLinksRight {
    width: 160px;
}

#logo {
    height: 1.75em;
}