/* Box model fix */
html {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    border: 0px;
    border-style:solid;
    vertical-align: baseline;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

nav {             
    height: 5em;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
}

h1{
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

h2{
    padding-top: 3em;
    padding-bottom: 1em;
}
h3{
    padding-bottom: 1em;
}

footer{
    margin-top: 5em;
    padding: 4em 4em 8em 4em;
}

table{
    width: 100%;
}

td{
    padding-bottom: 2em;
}

.table-price{
    text-align: right;
}

.top{
    margin-top: 5em;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.stack{
    display: flex;
    flex-direction: column;
}

.qty{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6em;
}

.sidebar{
    flex-basis: 33%;
    flex-grow: 1;
}

.sidebar > li{
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 30%;
}

.sidebar + .not-sidebar {
    margin-left: 2.5em;
}

.not-sidebar + .sidebar {
    margin-left: 2.5em;
}

.filter-item + .filter-item{
    margin-left: 1em;
}

.swap-position{
    flex-direction: row-reverse;
}

.centre-text{
    text-align: center;
}

.left-text{
    text-align: left;
}

.right-text{
    text-align: right;
}

.right-vertical{
    float: right;
}

.centre-vertical{
    display: flex;
    align-items: center;
}

.centre-horizontal{
    justify-content: center;
}

.image-row{
    padding: 0em 5em 8em 5em;
}

.page-heading{
    padding: 3em 2.5rem 2.5em 2.5rem;
}

.page-heading > p{
    width: 70%;
}

.back{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.back > img{
    height: 1.5em;
    width: 1.5em;
}

.margin{
    margin-left: 3rem;
    margin-right: 3rem;
}

.trending-image{
    height: 30%;
    width: 30%;
    margin: 5% 12.5% 5% 12.5%;
}

.box{
    width: 45%;
    justify-content: center;
    padding-left: 6%;
    padding-right: 6%;
    align-items: center;
    gap: 2em;
}

.left.box{
    border-radius: 0em 2em 2em 0em;
}

.right.box{
    border-radius: 2em 0em 0em 2em;
}

.trending > .box{
    height: 25em;
}

.header{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    background-image: url("images/MeetingRoom.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.menu{
    display: none;
}

.menuIcon{
    height: 1.5em;
}

.searchBarWrap {
    min-width: none;
    width: 25em;
    height: 1.5em;
    position: relative;
    display: flex;
}

.searchbar{
    border-radius: 5px ;
    width: inherit;
    height: inherit;
}

.searchIcon{
    position: absolute;
    right: 10px;
    height: 15px;
    top: 5px;
}

.heroText{
    width: 10em;
    justify-content: left;
    margin-bottom: 0.5em;
}

.right-align{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-logo {
    height: 1.75em;
}

.footer-logo{
    height: 3em;
}

.two-col{
    column-count: 2;
    column-gap: 4em;
}

.social-links{
    margin-top: 1em;
    margin-left: 0.5em;
}

.down-caret{
    width: 1em;
    margin-left: 0.25em;
}

.price{
    display: flex;
}

.oldPrice + .newPrice{
    margin-left: 0.5em;
}

.confirmation{
    width: 75%;
}

.confirmation > p + p{
    margin-top: 2em;
}

/* summary */
.summary{
    border-radius: 1.5em;
    padding: 2em;
    width: 100%;
}

.proceed{
    border-radius: 1em;
    padding: 1em;
}

.summary-img{
    height: 5.5em;
    width: 5.5em;
    padding: 0.25em;
    border-radius: 0.5em;
    margin-right: 1em;
}

.socials{
    padding-bottom: 2em;
}

.checkout-steps{
    margin-right: 25%;
}

#navLinksLeft {
    display: flex;
    width: 8em;
}

#navLinksRight {
    display: flex;
    width: 10em;
}

#payment-methods{
    width: 7em;
    margin-top: 1em;
    margin-bottom: 2em;
}

#right-arrow{
    height: 1.5em;
}