input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance:textfield;
    width: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.features{
    margin-bottom: 2em;
}

.features > .box{
    padding-top: 2em;
    padding-bottom: 2em;
}

.productWrapper{
    margin-top: 10em;
}

.product-image-caret{
    height: 2em;
}

.alt-images-wrapper{
    margin-top: 3em;
}

.alt-image{
    width: 8em;
    height: 8em;
    padding: 0.5em;
}

.configuration{
    border-radius: 1em;
    padding: 1em;
    width: 100%;
}

.configuration-img{
    width: 7em;
    height: 7em;
    padding: 1em;
    border-radius: 0.5em;
    margin-right: 1em;
    margin-top: 1em;
}

.minus, .plus{
    height: 1em;
    width: 1em;
    margin: 0.5em;
}

.main-image{
    height: 25em;
    width: 25em;
}

.dropdownContent{
    display: none;
}

.product-info{
    width: 50%;
}

.product-btn{
    border-radius: 1em;
    align-items: center;
    width: 48.5%;
    padding: 1em;
}

.button-wrapper, .product-info > * + *{
    margin-top: 2em;
}

.product-info-options > * + *{
    margin-top: 1em;
}

/* tab */
.none{
    display: none;
}

.tab{
    overflow: hidden;
}

.tablinks{
    border-radius: 1em 1em 0em 0em;
    padding: 1.5em 2em 1.5em 2em;
    float: left;
}

.tab-content{
    padding: 2em;
}

.features > li + li, .delivery-text > p+p{
    margin-top: 1em;
}

.measurements{
    width: 100%;
    max-width: 20em;
    height: auto;
    border-radius: 1em;
    padding: 1em;
}

.stars > img{
    height: 100%;
    width: auto;
    max-height: 1em;
}

.review + .review{
    margin-top: 2em;
}

.review > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.review > * + * {
    margin-top: 0.5em;
}

.review > div > * + * {
    margin-left: 1em;
}