input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance:textfield;
    width: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.added-text{
    margin-top: 1em;
}

.features{
    margin-bottom: 2em;
}

.features > .box{
    padding-top: 2em;
    padding-bottom: 2em;
}

.product-image-caret{
    height: 2em;
}

.alt-images-wrapper{
    margin-top: 3em;
}

.alt-image{
    padding: 0.5em;
}

.configuration{
    border-radius: 1em;
    padding: 1em;
    width: 100%;
}

.configuration-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(2em, 1fr));
    grid-template-rows: auto;
    grid-gap: 1em;
    justify-content: center;
}

.configuration-img{
    padding: 1em;
    border-radius: 0.5em;
    margin-right: 1em;
    margin-top: 1em;
    max-height: 6em;
}

.configuration.open{
    display: none;
}

.minus, .plus{
    height: 1em;
    width: 1em;
    margin: 0.5em;
}

.main-image{
    height: 25em;
    width: 25em;
    margin-bottom: 2em;
}

.dropdownContent{
    display: none;
}


.productWrapper > .not-sidebar{
    min-width: 33em;
}

.trending-image{
    min-width: 10em;
    max-width: 25em;
}

.product-info{
    width: 50%;
}

.product-padding{
    padding-left: 3em;
    padding-right: 3em;;
}

.product-btn{
    border-radius: 1em;
    align-items: center;
    width: 48.7%;
    padding: 1em;
    min-width: 48.7%;
}

.product-btn, .product-info > * + *{
    margin-top: 2em;
}

.product-info-options > * + *{
    margin-top: 1em;
}

/* tab */
.none{
    display: none;
}

.tab{
    overflow: hidden;
}

.tablinks{
    border-radius: 1em 1em 0em 0em;
    padding: 1.5em 2em 1.5em 2em;
    float: left;
}

.tab-content{
    padding: 2em;
}

.features > li + li, .delivery-text > p+p{
    margin-top: 1em;
}

.measurements{
    width: 100%;
    max-width: 20em;
    height: auto;
    border-radius: 1em;
    padding: 1em;
}

.stars > img{
    height: 100%;
    width: auto;
    max-height: 1em;
}

.review + .review{
    margin-top: 2em;
}

.review > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.review > * + * {
    margin-top: 0.5em;
}

.review > div > * + * {
    margin-left: 1em;
}

.alt-image:hover{
    border-radius: 1em;
}

@media only screen and (max-width: 700px){
    .configuration-grid{
        grid-template-columns: repeat(4, minmax(2em, 1fr));
    }

    #light-green {
        display: none;
    }

    .configuration-img{
        padding: 0.5em;
    }

    .tablinks + .tablinks{
        width: 33%;
    }

    .tablinks.first{
        width: 34%;
    }

    .main-image{
        object-fit: cover;
        min-height: 16em;
        min-width: 16em;
    }

    .productWrapper > .not-sidebar{
        min-width: 30em;
        margin-top: 4em;
        margin-bottom: 2em;
    }

    .product-padding{
        padding-left: 1.5em;
        padding-right: 1.5em;;
    }
}

@media only screen and (max-width: 500px){
    .productWrapper > .not-sidebar{
        min-width: 22em;
    }

    .product-btn{
        margin-top: 1em;
        width: 100%;
    }
}
