.cart-item-img{
    height: 12em;
    max-width: 12em;
    object-fit: cover;
}

#trash{
    height: 2em;
    width: 2em;
}

.cart-item-row {
    margin-bottom: 2em;
}

.left-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.right-wrapper{
    text-align: right;
}

.cart-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 8%;
    row-gap: 2em;
    margin-bottom: 2em;
}

.cart-img{
    grid-column: 1;
}

.cart-item-name{
    grid-column: 2 / 4;
}

.cart-item-price{
    grid-column: 4;
}

.row-one{
    grid-row: 1;
}

.row-two{
    grid-row: 2;
}

@media only screen and (min-width: 700px){
    .not-summary > .cart-grid > .cart-item-name > * + *{
        margin-top: 1em;
    }
}


@media only screen and (max-width: 500px){
    .cart-item-img{
        height: 6em;
        max-width: 6em;
        object-fit: cover;
    }

    #trash{
        height: 1.5em;
        width: 1.5em;
    }
}
